.button {
    background-color: var(--cardColor);
    border-radius: 1rem;
    border: 1px solid var(--borderColor);
    color: var(--textColor);
    padding: 0.5rem 1rem;
    width: fit-content;
    margin-top: 2rem;
    font-size: 1rem;
}
